/* Стили для заголовка */
.heading {
    color: blue; /* Изменяем цвет текста на синий */
    font-size: 24px; /* Изменяем размер шрифта заголовка */
}

/* Стили для элемента p */
.text {
    color: green; /* Изменяем цвет текста на зеленый */
    font-size: 18px; /* Изменяем размер шрифта элемента p */
}

/* Стили для элемента div */
.block {
    padding: 10px; /* Добавляем внутренний отступ по 10px */
    border: 1px solid black; /* Добавляем рамку толщиной 1px и черного цвета */
}

/* Общие стили для текста на сайте */
body {
    font-size: 30px; /* Устанавливаем размер шрифта для всего текста на сайте */
}

/* Наследование рамки у элемента с классом text2 от родительского div */
.block .text2 {
    border: inherit; /* Наследуем рамку от родительского элемента */
}