.heading {
    color: blue;
    font-size: 24px;
}


.text {
    color: green;
    font-size: 18px;
}


.block {
    padding: 10px;
    border: 1px solid black;
}


body {
    font-size: 30px;
}


.block .text2 {
    border: inherit;
}