<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание 1</title>
    <meta name="description" content="Пример веб-страницы">
</head>
<body>
    <h1 class="main-heading" id="main-heading">Заголовок первого уровня</h1>
    <p>Текст между заголовками, который находится в теге <code>p</code>.</p>
    <h2 class="sub-heading" id="sub-heading">Заголовок второго уровня</h2>
    <p>Ещё немного текста для примера.</p>
    <img src="/static/images/image.png" alt="Пример изображения из папки images">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Schloss_Sigmaringen_2022.jpg/1280px-Schloss_Sigmaringen_2022.jpg" alt="Пример изображения из интернета">
</body>
</html>