<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание 3</title>
    <style>
        .container{
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body class="container">
    <h1>Заголовок первого уровня</h1>
    <div>
        <h2>Заголовок второго уровня</h2>
        <h3>Заголовок третьего уровня</h3>
        <p>Текст с <span>вложенным элементом span</span> и ссылкой на <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Schloss_Sigmaringen_2022.jpg/1280px-Schloss_Sigmaringen_2022.jpg">внешний источник данных</a>.</p>
        <img src="https://via.placeholder.com/150" alt="Пример изображения">
        <img src="/static/images/image.png" alt="Пример изображения из папки images">
        <ol>
            <li>Первый элемент упорядоченного списка</li>
            <li>Второй элемент упорядоченного списка</li>
            <li>Третий элемент упорядоченного списка</li>
        </ol>
        <ul>
            <li>Первый элемент неупорядоченного списка</li>
            <li>Второй элемент неупорядоченного списка</li>
            <li>Третий элемент неупорядоченного списка</li>
        </ul>
        <table border="5">
            <thead>
                <tr>
                    <th>Заголовок 1</th>
                    <th>Заголовок 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ячейка 1</td>
                    <td>Ячейка 2</td>
                </tr>
                <tr>
                    <td>Ячейка 3</td>
                    <td>Ячейка 4</td>
                </tr>
            </tbody>
        </table>
        <time datetime="2024-01-01T12:00">Время публикации: 1 января 2024, 12:00</time>
        <p>Текст с использованием элементов <sup>верхний индекс</sup> и <sub>нижний индекс</sub>.</p>
    </div>
    <p>Ссылка на почту: <a href="mailto:example@example.com">example@example.com</a></p>
    <p>Ссылка на телефон: <a href="tel:+1234567890">+1234567890</a></p>
    <a href="/static/images/forest.png" download>
        <img src="/static/images/forest.png" alt="Изображение для скачивания">
    </a>
</body>
</html>