<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <p><a href="1/">Задание 1</a>
    <a href="3/">Задание 3</a>
    <a href="4/">Задание 4</a>
    <a href="6/">Задание 6</a>
    <a href="12/">Задание 12</a>
    <a href="16/">Задание 16</a>
    <a href="19/">Задание 19</a>
    <a href="24_1/">Задание 24_1</a>
    <a href="24_2/">Задание 24_2</a></p>
{#    <p><a href="39/">Задание 39</a>#}
{#    <a href="42/">Задание 42</a>#}
{#    <a href="43/">Задание 43</a>#}
{#    <a href="46/">Задание 46</a></p>#}
{#   <p><a href="57/">Задание 57</a>#}
{#    <a href="59/">Задание 59</a>#}
{#    <a href="62_1/">Задание 62_1</a>#}
{#    <a href="62_2/">Задание 62_2</a>#}
{#    <a href="63/">Задание 63</a></p>#}
</head>
<body>

</body>
</html>